In [11]:
import math 
import pandas as pd
import random

In [2]:
def haversine_distance(lat1, lng1, lat2, lng2):
    latRadian1 = math.radians(lat1)
    lngRadian1 = math.radians(lng1)
    latRadian2 = math.radians(lat2)
    lngRadian2 = math.radians(lng2)

    dlat = latRadian2 - latRadian1
    dlng = lngRadian2 - lngRadian1
    R = 6371e3

    a = math.sin(dlat/2) ** 2 + math.cos(lat1) * math.cos(lat2) * math.sin(dlng/2) ** 2
    c = 2 * math.atan2(math.sqrt(a), math.sqrt(1 - a))
    
    return R * c

In [4]:
# Cloudy Phan Dang Luu
latInit = 16.036783384151843
lngInit = 108.21435304207014

In [6]:
data = pd.read_csv('./data/FinalData.csv')
data.head(5)

,ID,Name,Address,Latitude,Longitude,Opening Hours,Types,Rating,User Ratings Total
0,ChIJ-3wY7lEYQjERrJ9wTeoa-WQ,Blue Summer Hotel,"35 Tôn Thất Đạm, Xuân Hà, Thanh Khê, Đà Nẵng 5...",16.072062,108.201392,"['Monday: Open 24 hours', 'Tuesday: Open 24 ho...","['lodging', 'point_of_interest', 'establishment']",3.9,42.0
1,ChIJ-UBpozMYQjERDV3V1nrXEiM,Vinapha 2 Hotel,"19 Phạm Hồng Thái, Hải Châu 1, Hải Châu, Đà Nẵ...",16.067351,108.221777,['Monday: 12:00\u202fAM\u2009–\u200911:59\u202...,"['lodging', 'point_of_interest', 'establishment']",3.0,93.0
2,ChIJ13MshlIYQjERM4sqFu8lvyA,Ribo Coffee,"05 Thái Thị Bôi, Chính Gián, Thanh Khê, Đà Nẵn...",16.068272,108.201195,['Monday: 6:30\u202fAM\u2009–\u200910:30\u202f...,"['cafe', 'food', 'point_of_interest', 'establi...",4.1,306.0
3,ChIJ14kOf8kZQjERrdrrQPpiZKA,Mì Quảng Thi,"251 Hoàng Diệu, Nam Dương, Hải Châu, Đà Nẵng 5...",16.058546,108.217224,['Monday: 6:00\u202fAM\u2009–\u20091:29\u202fP...,"['restaurant', 'point_of_interest', 'food', 'e...",4.3,308.0
4,ChIJ2aT3UqMXQjER_rVaqCoyyWU,Chùa Linh Ứng,"Vườn Lâm Tỳ Ni, Hoàng Sa, Thọ Quang, Sơn Trà, ...",16.100261,108.277747,"['Monday: Open 24 hours', 'Tuesday: Open 24 ho...","['place_of_worship', 'point_of_interest', 'est...",4.7,1785.0

In [30]:
newData = data.loc[:, ["ID", "Name", "Latitude", "Longitude"]]
newData.head(5)

                            ID               Name   Latitude   Longitude
0  ChIJ-3wY7lEYQjERrJ9wTeoa-WQ  Blue Summer Hotel  16.072062  108.201392
1  ChIJ-UBpozMYQjERDV3V1nrXEiM    Vinapha 2 Hotel  16.067351  108.221777
2  ChIJ13MshlIYQjERM4sqFu8lvyA        Ribo Coffee  16.068272  108.201195
3  ChIJ14kOf8kZQjERrdrrQPpiZKA       Mì Quảng Thi  16.058546  108.217224
4  ChIJ2aT3UqMXQjER_rVaqCoyyWU      Chùa Linh Ứng  16.100261  108.277747

In [8]:
listDist = []
for index in range(len(newData)):
    row = newData.iloc[index]
    lat = row['Latitude']
    lng = row['Longitude']
    dist = haversine_distance(latInit, lngInit, lat, lng)
    listDist.append(dist)
print(listDist)

[4150.351815264258, 3486.6128351985317, 3762.323346766885, 2438.5081041174953, 9658.007237869939, 828.9167576180388, 3550.787885575698, 6477.550545285755, 3457.4845923560965, 4396.124059032522, 3507.498128935771, 3228.8610191784524, 3854.084098272399, 3217.834132732924, 6004.192909844544, 17142.78503319649, 2221.535610606195, 4425.607636858624, 2736.4020175409746, 2621.63780684999, 3246.373996729055, 4160.277030117694, 9402.655726378282, 2909.4622366453173, 376.523585219424, 1710.2115876878165, 2741.416020206157, 4462.173666782588, 1308.674090972021, 2226.4231088502224, 1149.312187756929, 9741.646893117742, 2895.633999426664, 4220.089221390587, 2760.023245903595, 4420.3288200433835, 2945.4323075196357, 1514.0506635031709, 5093.468930044527, 3443.682913113074, 1721.3719325832692, 3054.827129053294, 3011.2497258656554, 3767.9478789039695, 3350.6995520646788, 1050.244970806684, 1794.0901673475967, 4331.209887131008, 24926.280915593943, 2776.8850183183536, 4877.31912787833, 12332.167745056242, 3543.2413258702168, 3050.9640528609248, 3552.5887641345057, 2478.036793958581, 3129.6322900963455, 3533.18600371215, 2143.925284867501, 3438.928567438793, 3552.569049505972, 1667.865968615613, 2809.239154496948, 2484.748647435728, 1332.5097105972418, 3269.8378271498136, 3500.7741403438285, 26973.678445217032, 4265.786806601436, 2950.7372465910057, 3621.2224248397324, 2012.4536366891884, 3469.9141117406357, 777.4966189132205, 19926.941066741365, 3703.908445898171, 1366.3040698554196, 4294.356880208592, 5716.1438959189845, 6509.531639680134, 2001.1469596059671, 2664.4150722327254, 3713.9301846514054, 3454.5610437807404, 3043.1330001614165, 9631.304258352431, 2319.8862244608977, 2427.1764482273024, 4218.893941539306, 1841.8144149148795, 25377.259200121272, 3241.0278237181083, 3731.891347732971, 9634.907004474813, 3724.357568471938, 3443.091579299563, 9748.792584121882, 3475.89970655761, 3285.15835370691, 7175.1260124998635, 2430.1407399808063, 3129.9918651945054, 3702.263382823651, 3269.1844320216296, 1625.0800925984033, 2097.7053931095274, 2530.696647006763, 3042.869443370336, 2141.6142416236357, 3994.46177529747, 3770.531170249219, 2810.437943712166, 2737.9804130108546, 3471.967511690342, 3035.2416441764226, 3184.528910148455, 3089.477934072878, 2682.7284073324563, 3397.8138559371564, 2463.8055778294975, 3158.256703932779, 3320.9813311297153, 4481.3162481022655, 2894.982294799115, 3297.310822242642, 1541.644155057362, 3802.6920797933108, 3068.015243211074, 4157.8059275626065, 4905.459544445967, 6879.222652941306, 1365.7406144658032, 1337.9329368560768, 21573.73461214217, 1689.9945366426784, 1789.4987963915664, 3377.865676075698, 11896.063259642739, 969.1857538843698, 1207.0240361072244, 4164.803033534154, 3343.337749072768, 3835.625706872999, 4035.6519291741693, 1826.0450923184114, 2822.2069835389007, 4251.023719497872, 3575.9418162447582, 4163.167018510153, 6716.284959101516, 2226.787760980114, 3336.708203791948, 22063.094803512497, 3125.570225505629, 3174.568923560838, 2809.327964106087, 23576.306900277126, 3314.092315266581, 2547.551485700458, 3342.2811113854564, 1208.8772899875169]

In [39]:
start_point = (latInit, lngInit)

route = []
visited = []
current_point = start_point

listNames = ["Cloudy"]
indexes = [0]
visited.append(current_point)
route.append(current_point)

while len(visited) < 11:
    min_distance = float('inf')
    next_point = None
    name = None
    index = 0
    for i, row in newData.iterrows():
        lat = row['Latitude']
        lng = row['Longitude']
        if (lat, lng) not in visited:
            dist = haversine_distance(current_point[0], current_point[1], lat, lng)
            if dist < min_distance:
                min_distance = dist
                next_point = (lat, lng)
                name = row['Name']
                index = i + 1
    if next_point is not None:
        current_point = next_point
        visited.append(current_point)
        route.append(current_point)
        listNames.append(name)
        indexes.append(index)

endpoint = start_point
visited.append(endpoint)
listNames.append("Cloudy")
indexes.append(0)

print(visited)
print(listNames)
print(indexes)

[(16.036783384151843, 108.21435304207014), (16.0401447, 108.2139202), (16.0434839, 108.212239), (16.0436901, 108.2173205), (16.0472421, 108.2174295), (16.0486814, 108.217581), (16.0503829, 108.2150664), (16.0487675, 108.2132138), (16.0515234, 108.2114104), (16.05241, 108.2102764), (16.0524158, 108.2101211), (16.036783384151843, 108.21435304207014)]
['Cloudy', 'Nhà Hàng Tuyên Sơn 2', 'Homestay Xì Trum', 'Mì Quảng Giao Thủy', 'Nhà sàn Bác Hồ', 'Ho Chi Minh Museum', 'WIN WIN HOSTEL', 'Cơm gà Lan', 'King Garden Hotel', 'Nibika Hotel', 'Bamboo Hotel', 'Cloudy']
[0, 25, 74, 6, 140, 132, 38, 133, 62, 136, 47, 0]

In [40]:
listSamples = list(range(1, len(listNames) - 1))
listSamples

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [41]:
listRoutes = []
listIndexes = []
for i in range(20):
    listRandoms = random.sample(listSamples, len(listSamples))
    newRoute = [visited[0]] + [visited[i] for i in listRandoms] + [visited[-1]]
    newIndex = [indexes[0]] + [indexes[i] for i in listRandoms] + [indexes[-1]]
    listRoutes.append(newRoute)
    listIndexes.append(newIndex)
listRoutes
listIndexes

[[0, 47, 74, 62, 38, 6, 136, 133, 25, 132, 140, 0],
 [0, 25, 140, 133, 47, 38, 74, 136, 6, 62, 132, 0],
 [0, 74, 6, 25, 132, 62, 133, 140, 47, 136, 38, 0],
 [0, 133, 38, 6, 47, 136, 140, 132, 74, 62, 25, 0],
 [0, 136, 62, 25, 47, 6, 38, 140, 132, 133, 74, 0],
 [0, 132, 136, 140, 74, 62, 6, 38, 133, 47, 25, 0],
 [0, 38, 25, 132, 133, 136, 74, 6, 140, 62, 47, 0],
 [0, 6, 74, 132, 25, 136, 140, 38, 47, 133, 62, 0],
 [0, 47, 6, 140, 136, 133, 38, 74, 25, 62, 132, 0],
 [0, 132, 25, 62, 6, 74, 136, 140, 133, 47, 38, 0],
 [0, 133, 140, 25, 6, 74, 47, 136, 38, 132, 62, 0],
 [0, 136, 47, 25, 6, 62, 140, 74, 133, 38, 132, 0],
 [0, 25, 74, 47, 136, 132, 133, 140, 6, 62, 38, 0],
 [0, 74, 133, 38, 25, 62, 47, 136, 6, 132, 140, 0],
 [0, 136, 47, 133, 132, 74, 62, 140, 25, 38, 6, 0],
 [0, 47, 74, 140, 38, 62, 6, 136, 133, 132, 25, 0],
 [0, 140, 47, 25, 6, 133, 74, 38, 132, 62, 136, 0],
 [0, 25, 74, 136, 140, 132, 38, 47, 6, 133, 62, 0],
 [0, 38, 25, 136, 132, 74, 47, 133, 6, 62, 140, 0],
 [0, 136, 140, 25, 74, 47, 38, 132, 62, 6, 133, 0]]