In [189]:
import pandas as pd
import math
import re
import csv

In [98]:
data = pd.read_csv('/home/gracie/Documents/DaNaTravel/training/data/FinalData.csv')
data.head(10)

,ID,Name,Address,Latitude,Longitude,Opening Hours,Types,Rating,User Ratings Total
0,ChIJ-3wY7lEYQjERrJ9wTeoa-WQ,Blue Summer Hotel,"35 Tôn Thất Đạm, Xuân Hà, Thanh Khê, Đà Nẵng 5...",16.072062,108.201392,"['Monday: Open 24 hours', 'Tuesday: Open 24 ho...","['lodging', 'point_of_interest', 'establishment']",3.9,42.0
1,ChIJ-UBpozMYQjERDV3V1nrXEiM,Vinapha 2 Hotel,"19 Phạm Hồng Thái, Hải Châu 1, Hải Châu, Đà Nẵ...",16.067351,108.221777,['Monday: 12:00\u202fAM\u2009–\u200911:59\u202...,"['lodging', 'point_of_interest', 'establishment']",3.0,93.0
2,ChIJ13MshlIYQjERM4sqFu8lvyA,Ribo Coffee,"05 Thái Thị Bôi, Chính Gián, Thanh Khê, Đà Nẵn...",16.068272,108.201195,['Monday: 6:30\u202fAM\u2009–\u200910:30\u202f...,"['cafe', 'food', 'point_of_interest', 'establi...",4.1,306.0
3,ChIJ14kOf8kZQjERrdrrQPpiZKA,Mì Quảng Thi,"251 Hoàng Diệu, Nam Dương, Hải Châu, Đà Nẵng 5...",16.058546,108.217224,['Monday: 6:00\u202fAM\u2009–\u20091:29\u202fP...,"['restaurant', 'point_of_interest', 'food', 'e...",4.3,308.0
4,ChIJ2aT3UqMXQjER_rVaqCoyyWU,Chùa Linh Ứng,"Vườn Lâm Tỳ Ni, Hoàng Sa, Thọ Quang, Sơn Trà, ...",16.100261,108.277747,"['Monday: Open 24 hours', 'Tuesday: Open 24 ho...","['place_of_worship', 'point_of_interest', 'est...",4.7,1785.0
5,ChIJ2beCscEZQjER1eMQXxVlJZg,Mì Quảng Giao Thủy,"20 Lê Thanh Nghị, Hoà Cường Bắc, Hải Châu, Đà ...",16.043690,108.217320,['Monday: 6:00\u202fAM\u2009–\u20099:00\u202fP...,"['restaurant', 'food', 'point_of_interest', 'e...",4.0,102.0
6,ChIJ2eRrZDIYQjERIDh0k-METDk,Hoang Linh Hotel,"142 Bạch Đằng, Hải Châu 1, Hải Châu, Đà Nẵng 5...",16.067179,108.224752,NaN,"['lodging', 'point_of_interest', 'establishment']",3.7,174.0
7,ChIJ2y5L4dQNQjERxeSLc68fbrw,The Marble Mountains,"81 Huyền Trân Công Chúa, Hoà Hải, Ngũ Hành Sơn...",16.003476,108.264580,['Monday: 7:00\u202fAM\u2009–\u20095:00\u202fP...,"['tourist_attraction', 'point_of_interest', 'e...",4.3,20715.0
8,ChIJ4TzoziwYQjER8Wp_tOG1pYA,DHC Marina,"367H+PW4, Đ. Trần Hưng Đạo, An Hải Trung, Sơn ...",16.064255,108.229819,"['Monday: Open 24 hours', 'Tuesday: Open 24 ho...","['tourist_attraction', 'point_of_interest', 'e...",4.1,171.0
9,ChIJ4w7694IXQjERrFXucqKL--o,My Khe Beach,"My Khe Beach, 550000, Vietnam",16.061694,108.246935,NaN,"['natural_feature', 'establishment']",4.6,1831.0

In [99]:
data.shape

(161, 9)

In [100]:
data.isna().sum()

ID                     0
Name                   0
Address                0
Latitude               0
Longitude              0
Opening Hours         52
Types                  0
Rating                 6
User Ratings Total     6
dtype: int64

In [191]:
dataHours = data.loc[:,["ID", "Opening Hours"]]
dataHours

,ID,Opening Hours
0,ChIJ-3wY7lEYQjERrJ9wTeoa-WQ,"['Monday: Open 24 hours', 'Tuesday: Open 24 ho..."
1,ChIJ-UBpozMYQjERDV3V1nrXEiM,['Monday: 12:00\u202fAM\u2009–\u200911:59\u202...
2,ChIJ13MshlIYQjERM4sqFu8lvyA,['Monday: 6:30\u202fAM\u2009–\u200910:30\u202f...
3,ChIJ14kOf8kZQjERrdrrQPpiZKA,['Monday: 6:00\u202fAM\u2009–\u20091:29\u202fP...
4,ChIJ2aT3UqMXQjER_rVaqCoyyWU,"['Monday: Open 24 hours', 'Tuesday: Open 24 ho..."
...,...,...
156,ChIJyWFmArX3QTERon6tUT6re4Q,"['Monday: Open 24 hours', 'Tuesday: Open 24 ho..."
157,ChIJyzjoRtMZQjERSALaMyZDqK8,NaN
158,ChIJzX1dFjAZQjERswowf61V1fk,NaN
159,ChIJzXv66zIYQjERVMBsPtBAerU,"['Monday: Open 24 hours', 'Tuesday: Open 24 ho..."
160,ChIJzdmTxe8ZQjERbvAggIAHQLc,['Monday: 12:00\u202fAM\u2009–\u200912:00\u202...

In [199]:
dataHours = dataHours.fillna(method='ffill')
dataHours

,ID,Opening Hours
0,ChIJ-3wY7lEYQjERrJ9wTeoa-WQ,"['Monday: Open 24 hours', 'Tuesday: Open 24 ho..."
1,ChIJ-UBpozMYQjERDV3V1nrXEiM,['Monday: 12:00\u202fAM\u2009–\u200911:59\u202...
2,ChIJ13MshlIYQjERM4sqFu8lvyA,['Monday: 6:30\u202fAM\u2009–\u200910:30\u202f...
3,ChIJ14kOf8kZQjERrdrrQPpiZKA,['Monday: 6:00\u202fAM\u2009–\u20091:29\u202fP...
4,ChIJ2aT3UqMXQjER_rVaqCoyyWU,"['Monday: Open 24 hours', 'Tuesday: Open 24 ho..."
...,...,...
156,ChIJyWFmArX3QTERon6tUT6re4Q,"['Monday: Open 24 hours', 'Tuesday: Open 24 ho..."
157,ChIJyzjoRtMZQjERSALaMyZDqK8,"['Monday: Open 24 hours', 'Tuesday: Open 24 ho..."
158,ChIJzX1dFjAZQjERswowf61V1fk,"['Monday: Open 24 hours', 'Tuesday: Open 24 ho..."
159,ChIJzXv66zIYQjERVMBsPtBAerU,"['Monday: Open 24 hours', 'Tuesday: Open 24 ho..."
160,ChIJzdmTxe8ZQjERbvAggIAHQLc,['Monday: 12:00\u202fAM\u2009–\u200912:00\u202...

In [200]:
def convertToMinutes(data):
    newData = data.split(':')
    return int(newData[0]) * 60 + (newData[1]) + 1

In [201]:
header = ['ID', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday']
listTimes = []
for index in range(len(dataHours)):
    openingHours = dataHours.iloc[index][1]
    ID = dataHours.iloc[index][0]
    newItem = [ID]
    if isinstance(openingHours, str):
        items = openingHours.strip("']['").split("', '")
        for item in items:
            item = item.encode('ascii', 'ignore').decode('unicode_escape')
            listInfo = item.split(": ")
            day = listInfo[0]
            times = listInfo[1].strip()
            timeOpen = 0
            timeClose = 0
            if times == "Open 24 hours":
                timeOpen = '00:00 AM'
                timeClose = '11:59 PM'
                times = timeOpen + '  ' + timeClose
            else:
                times = re.sub('[\u202f\u2009]+', ' ', times)
            
            newItem.append(times)
    listTimes.append(newItem)

In [202]:
with open('/home/gracie/Documents/DaNaTravel/training/data/opening_hours.csv', 'w', encoding='UTF8', newline='') as f:
    writer = csv.writer(f)
    writer.writerow(header)
    writer.writerows(listTimes)