In [36]:
import csv
import pandas as pd
import numpy as np
import math

In [30]:
def readCsv(name):
    data = pd.read_csv('/home/gracie/Documents/DaNaTravel/training/data/data1/{}.csv'.format(name))
    print(len(data))
    data.head(10)
    return data

In [53]:
def removeEmptyRating(data):
    # newData = data.dropna(how='any',subset=['Rating'])
    # print(len(newData))
    # newData.head(10)
    df_empty = pd.DataFrame(columns=['ID', 'Name', 'Address', 'Latitude', 'Longitude', 'Opening Hours', 'Types', 'Rating', 'User Ratings Total'])
    df = pd.DataFrame(columns=['ID', 'Name', 'Address', 'Latitude', 'Longitude', 'Opening Hours', 'Types', 'Rating', 'User Ratings Total'])
    for i, row in data.iterrows():
        new_df = pd.DataFrame([row])
        if math.isnan(float(row['Rating'])): df_empty = pd.concat([df_empty, new_df])
        else: df = pd.concat([df, new_df])
    return df, df_empty
    # return newData

In [4]:
def removeUnvalidRating(data):
    dataChange = data
    dataChange['Rating'] = np.where(data['Rating'] < 3, 0, data['Rating'])
    newData = dataChange[dataChange.Rating != float(0)]
    print(len(newData))
    newData.head(10)
    return newData

In [5]:
def handleUserRatingTotal(data):
    newData = data[data['User Ratings Total'] >= 20]
    return newData

In [6]:
def resetIndex(data):
    newData = data
    newData.reset_index(inplace=True, drop=True)
    return newData

In [80]:
def handle_types(data):
    valid_types = ['food', 'cafe', 'restaurant', 'tourist_attraction', 'amusement_park', 'park', 'church', 'natural_feature', 'museum']
    invalid_types = ['point_of_interest', 'establishment']
    listRowRemove = []

    for i, row in data.iterrows():
        types = row['Types'].strip("']['").split("', '")
        if any(item in valid_types for item in types) == False:
            listRowRemove.append(i)

    newData = data.drop(listRowRemove)
    return newData

In [ ]:
# newData6.reset_index(inplace=True, drop=True)
# print(len(newData6))
# newData6

In [27]:
def write_csv(data, name):
    data.to_csv('/home/gracie/Documents/DaNaTravel/training/data/data1/{}.csv'.format(name), mode='a', index=False)

In [28]:
def write_header(name):
    header = ['ID', 'Name', 'Address', 'Latitude', 'Longitude', 'Opening Hours', 'Types', 'Rating', 'User Ratings Total']
    with open('/home/gracie/Documents/DaNaTravel/training/data/data1/{}.csv'.format(name), 'a', encoding='UTF8', newline='') as f:
        writer = csv.writer(f)
        writer.writerow(header)

In [54]:
# fileNames = ['data']
# write_header('Empty')
# write_header('NotEmpty')
data = readCsv('data')
data, data_empty = removeEmptyRating(data)
    # data = removeUnvalidRating(data)
    # data = handleUserRatingTotal(data)
    # data = resetIndex(data)
    # newData = handle_types(data)
write_csv(data, 'NotEmpty')
write_csv(data_empty, 'Empty')

619

In [82]:
data_handle_types = handle_types(data_empty)
write_header('handleTypes')
write_csv(data_handle_types, 'handleTypes')

In [83]:
non_empty_data_handle_types = handle_types(data)
write_header('nonEmptyHandleTypes')
write_csv(non_empty_data_handle_types, 'nonEmptyHandleTypes')

In [14]:
def handleDuplicates(data):
    data = data.sort_values(by=['ID'])
    data = data.drop_duplicates(subset=['ID'], keep='last')
    return data

In [84]:
data = pd.read_csv('/home/gracie/Documents/DaNaTravel/training/data/data1/nonEmptyHandleTypes.csv')
newData = handleDuplicates(data)
newData = resetIndex(newData)
newData

,ID,Name,Address,Latitude,Longitude,Opening Hours,Types,Rating,User Ratings Total
0,ChIJ-6MwcJMZQjERYYvyqimq7js,Nhà Thờ Lê Văn Tộc,"39 Văn Cận, Khuê Trung, Cẩm Lệ, Đà Nẵng 550000...",16.035743,108.211776,NaN,"['church', 'place_of_worship', 'point_of_inter...",NaN,NaN
1,ChIJ0atM70kYQjERt8DDC2MBtX4,다낭현지교회,"190 Ông Ích Khiêm, Tân Chính, Thanh Khê, Đà Nẵ...",16.071039,108.212954,NaN,"['church', 'tourist_attraction', 'place_of_wor...",4.9,57.0
2,ChIJ0fjQ1rIZQjERFBYA1PL9CZI,Green Dragon,"K 25 Điện Biên Phủ, Thạc Gián, Thanh Khê, Đà N...",16.064983,108.204798,NaN,"['premise', 'amusement_park', 'point_of_intere...",NaN,NaN
3,ChIJ13MshlIYQjERM4sqFu8lvyA,Ribo Coffee,"05 Thái Thị Bôi, Chính Gián, Thanh Khê, Đà Nẵn...",16.068272,108.201195,['Monday: 6:30\u202fAM\u2009–\u200910:30\u202f...,"['cafe', 'point_of_interest', 'food', 'establi...",4.1,306.0
4,ChIJ14kOf8kZQjERrdrrQPpiZKA,Mì Quảng Thi,"251 Hoàng Diệu, Nam Dương, Hải Châu, Đà Nẵng 5...",16.058546,108.217224,['Monday: 6:00\u202fAM\u2009–\u20091:29\u202fP...,"['restaurant', 'point_of_interest', 'food', 'e...",4.3,311.0
...,...,...,...,...,...,...,...,...,...
307,ChIJzUorwTMYQjERh4E9W2PE3NQ,Công viên Hùng Vương,"Hùng Vương, Hải Châu 1, Hải Châu, Đà Nẵng 5500...",16.068424,108.221812,NaN,"['amusement_park', 'premise', 'point_of_intere...",NaN,NaN
308,ChIJzVm6bAcXQjERM7vVE6QlYIU,C&R Beach Restauraunt,"Khu du lịch Biển Đông, Hoàng Sa, Sơn Trà, Đà N...",16.102802,108.284583,NaN,"['restaurant', 'point_of_interest', 'food', 'e...",2.5,2.0
309,ChIJzX1dFjAZQjERswowf61V1fk,APEC Park,"365F+67X, Bình Hiên, Hải Châu, Đà Nẵng 550000,...",16.058105,108.223243,NaN,"['park', 'point_of_interest', 'establishment']",4.5,717.0
310,ChIJzae_kQYZQjER0RuyfLoF6L8,Quán Cafe Bi,"72, Đường Lý Triện, Phường An Khê, Quận Thanh ...",16.059804,108.185621,NaN,"['cafe', 'point_of_interest', 'food', 'establi...",3.7,6.0
311,ChIJzdmTxe8ZQjERbvAggIAHQLc,Minh Toan Galaxy Hotel,"306 Đ. 2 Tháng 9, Hoà Cường Bắc, Hải Châu, Đà ...",16.044235,108.222729,['Monday: 12:00\u202fAM\u2009–\u200912:00\u202...,"['lodging', 'restaurant', 'point_of_interest',...",4.2,1833.0

In [85]:
newData.to_csv('/home/gracie/Documents/DaNaTravel/training/data/data1/FinalData.csv', index=False)