### Import library

In [6]:
import math
import pandas as pd
import random
import numpy as np
from bs4 import BeautifulSoup
import response
import requests

In [3]:
API_KEY = 'AIzaSyBVatgG_Di0Y8-yNMFDvczuyAGzIMcN0RU'

### Read data from csv

In [8]:
data = pd.read_csv('./data/FinalData.csv')
data.head(5)

,ID,Name,Address,Latitude,Longitude,Opening Hours,Types,Rating,User Ratings Total
0,ChIJ-3wY7lEYQjERrJ9wTeoa-WQ,Blue Summer Hotel,"35 Tôn Thất Đạm, Xuân Hà, Thanh Khê, Đà Nẵng 5...",16.072062,108.201392,"['Monday: Open 24 hours', 'Tuesday: Open 24 ho...","['lodging', 'point_of_interest', 'establishment']",3.9,42.0
1,ChIJ-UBpozMYQjERDV3V1nrXEiM,Vinapha 2 Hotel,"19 Phạm Hồng Thái, Hải Châu 1, Hải Châu, Đà Nẵ...",16.067351,108.221777,['Monday: 12:00\u202fAM\u2009–\u200911:59\u202...,"['lodging', 'point_of_interest', 'establishment']",3.0,93.0
2,ChIJ13MshlIYQjERM4sqFu8lvyA,Ribo Coffee,"05 Thái Thị Bôi, Chính Gián, Thanh Khê, Đà Nẵn...",16.068272,108.201195,['Monday: 6:30\u202fAM\u2009–\u200910:30\u202f...,"['cafe', 'food', 'point_of_interest', 'establi...",4.1,306.0
3,ChIJ14kOf8kZQjERrdrrQPpiZKA,Mì Quảng Thi,"251 Hoàng Diệu, Nam Dương, Hải Châu, Đà Nẵng 5...",16.058546,108.217224,['Monday: 6:00\u202fAM\u2009–\u20091:29\u202fP...,"['restaurant', 'point_of_interest', 'food', 'e...",4.3,308.0
4,ChIJ2aT3UqMXQjER_rVaqCoyyWU,Chùa Linh Ứng,"Vườn Lâm Tỳ Ni, Hoàng Sa, Thọ Quang, Sơn Trà, ...",16.100261,108.277747,"['Monday: Open 24 hours', 'Tuesday: Open 24 ho...","['place_of_worship', 'point_of_interest', 'est...",4.7,1785.0

In [10]:
newData = data.loc[:, ["ID", "Name", "Latitude", "Longitude"]]
newData.head(5)

                            ID               Name   Latitude   Longitude
0  ChIJ-3wY7lEYQjERrJ9wTeoa-WQ  Blue Summer Hotel  16.072062  108.201392
1  ChIJ-UBpozMYQjERDV3V1nrXEiM    Vinapha 2 Hotel  16.067351  108.221777
2  ChIJ13MshlIYQjERM4sqFu8lvyA        Ribo Coffee  16.068272  108.201195
3  ChIJ14kOf8kZQjERrdrrQPpiZKA       Mì Quảng Thi  16.058546  108.217224
4  ChIJ2aT3UqMXQjER_rVaqCoyyWU      Chùa Linh Ứng  16.100261  108.277747

### Origin location

In [9]:
#Cloudy Phan Dang Luu
latInit = 16.036783384151843
lngInit = 108.21435304207014

### Calculate distance

In [2]:
# using haversine distance
def haversineDistance(lat1, lng1, lat2, lng2):
    latRadian1 = math.radians(lat1)
    lngRadian1 = math.radians(lng1)
    latRadian2 = math.radians(lat2)
    lngRadian2 = math.radians(lng2)

    dlat = latRadian2 - latRadian1
    dlng = lngRadian2 - lngRadian1
    R = 6371e3

    a = math.sin(dlat/2) ** 2 + math.cos(latRadian1) * math.cos(latRadian2) * math.sin(dlng/2) ** 2
    c = 2 * math.atan2(math.sqrt(a), math.sqrt(1-a))
    
    return R * c

In [11]:
# using Google Maps API
def mapsDistance(origin, destination):
    url =f"https://maps.googleapis.com/maps/api/directions/json?origin={origin}&destination={destination}&key={API_KEY}"
    response = requests.get(url)
    data = response.json()
    distance = data['routes'][0]['legs'][0]['distance']['value']
    duration = data['routes'][0]['legs'][0]['duration']['value']

    return distance

### Initialisation Step - Nearest Neighbor Algorithm

In [31]:
def nearestNeighborAlgorithm(data):
    startPoint = (latInit, lngInit)
    listPoints = []
    listDetailsPoint = []

    currentPoint = startPoint
    listPoints.append(currentPoint)
    detailsPoint = [ 0, 'Cloudy', currentPoint]
    listDetailsPoint.append(detailsPoint)

    while(len(listPoints) < 11):
        minDistance = float('inf')
        nextPoint = None
        name = None
        index = 0

        for i , row in data.iterrows():
            lat = row['Latitude']
            lng = row['Longitude']
            if(lat, lng) not in listPoints:
                dist = haversineDistance(currentPoint[0], currentPoint[1], lat, lng)
                
                if dist < minDistance:
                    minDistance = dist
                    nextPoint = (lat, lng)
                    name = row['Name']
                    index = i + 1
            
        if nextPoint is not None:
            currentPoint = nextPoint
            listPoints.append(currentPoint)
            detailsNewPoint = [index, name, currentPoint]
            listDetailsPoint.append(detailsNewPoint)

    endPoint = startPoint
    listPoints.append(endPoint)
    listDetailsPoint.append(detailsPoint)

    return listPoints, listDetailsPoint

#### Generate set of chromosome

In [28]:
limit = 20
def generateChromosome(listChromosomes, listDetailsChromosome):
    newListChromosomes = []
    newListDetailsChromosome = []

    listSamples = list(range(1, len(listChromosomes) - 1))

    for index in range(20):
        listRandoms = random.sample(listSamples, len(listSamples))
        newChromosome = [listChromosomes[0]] + [listChromosomes[i] for i in listRandoms] + [listChromosomes[-1]]
        newDetailChromosome = [listDetailsChromosome[0]] + [listDetailsChromosome[i] for i in listRandoms] + [listDetailsChromosome[-1]]

        newListChromosomes.append(newChromosome)
        newListDetailsChromosome.append(newDetailChromosome)
    
    return newListChromosomes, newListDetailsChromosome

### Calculate fitness value

In [15]:
def calculateFitness(chromosome):
    length = len(chromosome)
    fitness = 0

    for i in range(0, length - 1):
        dist = haversineDistance(chromosome[i][0], chromosome[i][1], chromosome[i + 1][0], chromosome[i + 1][1])
        fitness += dist
    
    return 1/fitness

### Select Parents - Roulette Wheel Selection Solution

In [45]:
def selectParents(listFitnesses, listDetailsPoint):
    listFitnesses = sorted(listFitnesses, reverse=True)

    sumFit = sum(listFitnesses)
    sumAccumulation = 0
    threshold = random.uniform(0, 1)

    listParents = []

    for i in range(0, len(listFitnesses)):
        frequency = listFitnesses[i]/sumFit
        sumAccumulation += frequency

        if sumAccumulation >= threshold:
            listParents.append(listDetailsPoint[i])

    return listParents

### Genetic Algorithm

In [44]:
listPoints, listDetailsPoint = nearestNeighborAlgorithm(newData)

newListPoints, newListDetailsPoint = generateChromosome(listPoints, listDetailsPoint)

listFitnesses = []
for i in range(0, len(newListPoints)):
    fitness = calculateFitness(newListPoints[i])
    listFitnesses.append(fitness)

df = pd.DataFrame(data={'point': newListDetailsPoint, 'fitness': listFitnesses})

listParents = selectParents(listFitnesses, df)

                                                point   fitness
15  [[0, Cloudy, (16.036783384151843, 108.21435304...  0.000096
14  [[0, Cloudy, (16.036783384151843, 108.21435304...  0.000096
19  [[0, Cloudy, (16.036783384151843, 108.21435304...  0.000098
1   [[0, Cloudy, (16.036783384151843, 108.21435304...  0.000098
7   [[0, Cloudy, (16.036783384151843, 108.21435304...  0.000104
12  [[0, Cloudy, (16.036783384151843, 108.21435304...  0.000105
2   [[0, Cloudy, (16.036783384151843, 108.21435304...  0.000106
3   [[0, Cloudy, (16.036783384151843, 108.21435304...  0.000109
10  [[0, Cloudy, (16.036783384151843, 108.21435304...  0.000109
18  [[0, Cloudy, (16.036783384151843, 108.21435304...  0.000109
6   [[0, Cloudy, (16.036783384151843, 108.21435304...  0.000115
9   [[0, Cloudy, (16.036783384151843, 108.21435304...  0.000116
16  [[0, Cloudy, (16.036783384151843, 108.21435304...  0.000119
11  [[0, Cloudy, (16.036783384151843, 108.21435304...  0.000119
8   [[0, Cloudy, (16.036783384151843, 108.21435304...  0.000121
4   [[0, Cloudy, (16.036783384151843, 108.21435304...  0.000126
5   [[0, Cloudy, (16.036783384151843, 108.21435304...  0.000128
0   [[0, Cloudy, (16.036783384151843, 108.21435304...  0.000137
13  [[0, Cloudy, (16.036783384151843, 108.21435304...  0.000139
17  [[0, Cloudy, (16.036783384151843, 108.21435304...  0.000151